<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,879}}</string>
                <key>sourceSize</key>
                <string>{640,879}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,879}}</string>
            </dict>
            <key>blocks_bl_002_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{212,362}}</string>
                <key>sourceSize</key>
                <string>{212,362}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,362}}</string>
            </dict>
            <key>game_wrays.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,363},{283,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,283}}</string>
            </dict>
            <key>game_down_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{640,271}}</string>
                <key>sourceSize</key>
                <string>{640,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,271}}</string>
            </dict>
            <key>blocks_bl_007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,647},{211,249}}</string>
                <key>sourceSize</key>
                <string>{211,249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,249}}</string>
            </dict>
            <key>blocks_bl_004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,897},{211,235}}</string>
                <key>sourceSize</key>
                <string>{211,235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,235}}</string>
            </dict>
            <key>blocks_bl_005_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1133},{211,225}}</string>
                <key>sourceSize</key>
                <string>{211,225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,225}}</string>
            </dict>
            <key>blocks_bl_008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1152},{211,222}}</string>
                <key>sourceSize</key>
                <string>{211,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,222}}</string>
            </dict>
            <key>blocks_bl_000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1152},{211,215}}</string>
                <key>sourceSize</key>
                <string>{211,215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,215}}</string>
            </dict>
            <key>blocks_bl_005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1152},{211,215}}</string>
                <key>sourceSize</key>
                <string>{211,215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,215}}</string>
            </dict>
            <key>blocks_bl_008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1359},{211,213}}</string>
                <key>sourceSize</key>
                <string>{211,213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,213}}</string>
            </dict>
            <key>blocks_bl_003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1368},{211,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,210}}</string>
            </dict>
            <key>blocks_bl_001_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1375},{423,208}}</string>
                <key>sourceSize</key>
                <string>{423,208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,208}}</string>
            </dict>
            <key>blocks_bl_008_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1573},{211,207}}</string>
                <key>sourceSize</key>
                <string>{211,207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,207}}</string>
            </dict>
            <key>blocks_bl_000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1579},{211,206}}</string>
                <key>sourceSize</key>
                <string>{211,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,206}}</string>
            </dict>
            <key>blocks_bl_006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1584},{212,204}}</string>
                <key>sourceSize</key>
                <string>{212,204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,204}}</string>
            </dict>
            <key>blocks_bl_003_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1584},{211,204}}</string>
                <key>sourceSize</key>
                <string>{211,204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,204}}</string>
            </dict>
            <key>blocks_bl_007_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1781},{211,189}}</string>
                <key>sourceSize</key>
                <string>{211,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,189}}</string>
            </dict>
            <key>blocks_bl_006_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1789},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
            </dict>
            <key>blocks_bl_004_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1789},{211,188}}</string>
                <key>sourceSize</key>
                <string>{211,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,188}}</string>
            </dict>
            <key>game_blocks_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,647},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
            </dict>
            <key>game_finish_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,818},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
            </dict>
            <key>game_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1152},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
            </dict>
            <key>game_next_btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
            </dict>
            <key>game_btn_next_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,160},{140,144}}</string>
                <key>sourceSize</key>
                <string>{140,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,144}}</string>
            </dict>
            <key>game_chain_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,305},{29,117}}</string>
                <key>sourceSize</key>
                <string>{29,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,117}}</string>
            </dict>
            <key>game_path_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,305},{48,115}}</string>
                <key>sourceSize</key>
                <string>{48,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,115}}</string>
            </dict>
            <key>game_shad.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,423},{64,114}}</string>
                <key>sourceSize</key>
                <string>{64,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,114}}</string>
            </dict>
            <key>game_chain_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,421},{31,103}}</string>
                <key>sourceSize</key>
                <string>{31,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,103}}</string>
            </dict>
            <key>game_hlp.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,989},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
            </dict>
            <key>game_close_btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,538},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
            </dict>
            <key>game_new_close_btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,538},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
            </dict>
            <key>game_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1375},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
            </dict>
            <key>game_hlp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1789},{255,98}}</string>
                <key>sourceSize</key>
                <string>{255,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,98}}</string>
            </dict>
            <key>game_path_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,989},{43,94}}</string>
                <key>sourceSize</key>
                <string>{43,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,94}}</string>
            </dict>
            <key>game_btn_close_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1476},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
            </dict>
            <key>game_btn_new_close_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1476},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
            </dict>
            <key>game_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1569},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
            </dict>
            <key>game_zv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1476},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
            </dict>
            <key>game_zv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1476},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
            </dict>
            <key>game_zv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1476},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
            </dict>
            <key>game_snd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1375},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
            </dict>
            <key>game_no_snd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1553},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
            </dict>
            <key>game_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1626},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
            </dict>
            <key>game_restart_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1662},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
            </dict>
            <key>game_btn_snd.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1698},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
            </dict>
            <key>game_btn_no_snd.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1786},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
            </dict>
            <key>game_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1786},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
            </dict>
            <key>game_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1853},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
            </dict>
            <key>game_btn_edit_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1853},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1888},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1888},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_nail.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1888},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_erase.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1888},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_chain_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1916},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_chain_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,1919},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_chain_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1951},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1951},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1951},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1951},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1971},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_chain_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1971},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1971},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1978},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_btn_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1978},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
            </dict>
            <key>game_sled.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,305},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
            </dict>
            <key>game_path_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1734},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
            </dict>
            <key>game_path_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1091},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,40}}</string>
            </dict>
            <key>game_chain_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1323},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
            </dict>
            <key>game_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1084},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
            </dict>
            <key>game_chain_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1978},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
        </dict>
    </dict>
</plist>