<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{197,177}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{197,177}}</string>
                <key>sourceSize</key>
                <string>{215,181}</string>
            </dict>
            <key>about-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,539},{209,133}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{209,133}}</string>
                <key>sourceSize</key>
                <string>{215,181}</string>
            </dict>
            <key>staffs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{853,537}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{853,537}}</string>
                <key>sourceSize</key>
                <string>{859,537}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>about_scene.png</string>
            <key>size</key>
            <string>{855,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d40bc52f91dad86acbf60c14e8064ca2:1/1$</string>
            <key>textureFileName</key>
            <string>about_scene.png</string>
        </dict>
    </dict>
</plist>
