<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car0.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{227,111}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{227,111}}</string>
                <key>sourceSize</key>
                <string>{283,111}</string>
            </dict>
            <key>car1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{237,111}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{237,111}}</string>
                <key>sourceSize</key>
                <string>{283,111}</string>
            </dict>
            <key>car2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,2},{259,111}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{259,111}}</string>
                <key>sourceSize</key>
                <string>{283,111}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,184},{105,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>sourceSize</key>
                <string>{105,59}</string>
            </dict>
            <key>cloudRain.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,161},{151,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,93}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>cloudThunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,161},{127,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,83}}</string>
                <key>sourceSize</key>
                <string>{127,83}</string>
            </dict>
            <key>groundLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{492,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,154}}</string>
                <key>sourceSize</key>
                <string>{492,154}</string>
            </dict>
            <key>groundRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{371,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,157}}</string>
                <key>sourceSize</key>
                <string>{371,157}</string>
            </dict>
            <key>signpost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,115},{67,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,118}}</string>
                <key>sourceSize</key>
                <string>{67,118}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,115},{127,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{127,131}</string>
            </dict>
            <key>tree0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,252}}</string>
                <key>sourceSize</key>
                <string>{151,252}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{117,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,222}}</string>
                <key>sourceSize</key>
                <string>{117,222}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,161},{71,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,150}}</string>
                <key>sourceSize</key>
                <string>{71,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene.png</string>
            <key>size</key>
            <string>{1628,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2096ca012b679da10413cb6aa386d450:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene.png</string>
        </dict>
    </dict>
</plist>
