<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudLock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,539},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>cloudLock10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,681},{134,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{134,70}</string>
            </dict>
            <key>cloudLock11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,784},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>cloudLock12.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,212},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>cloudLock13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,752},{96,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,47}}</string>
                <key>sourceSize</key>
                <string>{96,47}</string>
            </dict>
            <key>cloudLock14.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,610},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>cloudLock15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,586},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>cloudLock16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,273},{111,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,65}}</string>
                <key>sourceSize</key>
                <string>{111,65}</string>
            </dict>
            <key>cloudLock17.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,508},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>cloudLock18.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,461},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>cloudLock19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,401},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>cloudLock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,753},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudLock20.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,497},{87,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>cloudLock21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,278},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>cloudLock22.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,476},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>cloudLock23.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,401},{97,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,65}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>cloudLock24.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,862},{80,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>cloudLock25.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,524},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>cloudLock26.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,705},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>cloudLock27.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,599},{90,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,51}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>cloudLock28.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,871},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>cloudLock29.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,962},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>cloudLock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>cloudLock30.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,339},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>cloudLock4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,697},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>cloudLock5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,651},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>cloudLock6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,675},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudLock7.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,310},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>cloudLock8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,619},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>cloudLock9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,808},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>cloudPress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,473},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{112,56}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>cloudPress10.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,210},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{108,56}}</string>
                <key>sourceSize</key>
                <string>{134,70}</string>
            </dict>
            <key>cloudPress11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,943},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{69,41}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>cloudPress12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,473},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{109,48}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>cloudPress13.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,925},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{76,37}}</string>
                <key>sourceSize</key>
                <string>{96,47}</string>
            </dict>
            <key>cloudPress14.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,859},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{77,44}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>cloudPress15.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,772},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{55,35}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>cloudPress16.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,964},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{89,53}}</string>
                <key>sourceSize</key>
                <string>{111,65}</string>
            </dict>
            <key>cloudPress17.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,278},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{72,38}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>cloudPress18.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,862},{80,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{80,36}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>cloudPress19.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,956},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{76,50}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>cloudPress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,937},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{76,44}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudPress20.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,210},{69,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{69,40}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>cloudPress21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,813},{81,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{81,48}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>cloudPress22.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,703},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{68,52}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>cloudPress23.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,625},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{77,53}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>cloudPress24.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,585},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{64,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>cloudPress25.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,353},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,47}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>cloudPress26.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,599},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{71,45}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>cloudPress27.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,280},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{72,41}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>cloudPress28.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,656},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{68,37}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>cloudPress29.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,943},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{69,44}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>cloudPress3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,871},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{84,52}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>cloudPress30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,969},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{81,49}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>cloudPress4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,671},{76,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{76,45}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>cloudPress5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,852},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{72,43}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>cloudPress6.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,937},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{76,44}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudPress7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,836},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{85,34}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>cloudPress8.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,813},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{77,45}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>cloudPress9.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,772},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{61,35}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>cloudStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>cloudStar10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{134,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{134,70}</string>
            </dict>
            <key>cloudStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,761},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>cloudStar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>cloudStar13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,571},{96,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,47}}</string>
                <key>sourceSize</key>
                <string>{96,47}</string>
            </dict>
            <key>cloudStar14.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,467},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>cloudStar15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,708},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>cloudStar16.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,212},{111,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,65}}</string>
                <key>sourceSize</key>
                <string>{111,65}</string>
            </dict>
            <key>cloudStar17.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,810},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>cloudStar18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,752},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>cloudStar19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,508},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>cloudStar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,640},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudStar20.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,409},{87,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>cloudStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,278},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>cloudStar22.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,409},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>cloudStar23.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,212},{97,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,65}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>cloudStar24.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,969},{80,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>cloudStar25.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,401},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>cloudStar26.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,543},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>cloudStar27.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,732},{90,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,51}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>cloudStar28.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,859},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>cloudStar29.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,905},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>cloudStar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,339},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>cloudStar30.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,339},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>cloudStar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,584},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>cloudStar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,853},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>cloudStar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,907},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>cloudStar7.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,267},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>cloudStar8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,353},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>cloudStar9.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,859},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>level_add_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{127,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,77}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>level_add_coins_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{127,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,77}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>level_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,257}}</string>
                <key>sourceSize</key>
                <string>{152,257}</string>
            </dict>
            <key>level_more_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{171,211}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{171,211}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
            <key>level_more_0_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,0},{173,211}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{173,211}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
            <key>level_more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{143,209}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{143,209}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
            <key>level_more_1_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{149,209}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{149,209}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_select.png</string>
            <key>size</key>
            <string>{648,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac45b4a9ee44a220322f6283c9d00a6b:1/1$</string>
            <key>textureFileName</key>
            <string>level_select.png</string>
        </dict>
    </dict>
</plist>
