<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,309},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>close-music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,400},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>comment-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,171},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>comment-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,108},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,62}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>exhaust1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,495},{9,10}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>exhaust2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,309},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>gas-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,400},{89,49}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{89,49}}</string>
                <key>sourceSize</key>
                <string>{125,71}</string>
            </dict>
            <key>gas-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,249},{97,59}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{97,59}}</string>
                <key>sourceSize</key>
                <string>{125,71}</string>
            </dict>
            <key>gas-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,99},{125,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,71}}</string>
                <key>sourceSize</key>
                <string>{125,71}</string>
            </dict>
            <key>information-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,250},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>information-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,392},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{76,60}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>main-fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{879,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,507}}</string>
                <key>sourceSize</key>
                <string>{879,507}</string>
            </dict>
            <key>main-fg_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1},{879,493}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{879,493}}</string>
                <key>sourceSize</key>
                <string>{879,507}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,327},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>play-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,1},{129,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,97}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>play-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,171},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{103,77}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>thunderCloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>thunderCloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,453},{54,52}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{54,52}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_scene.png</string>
            <key>size</key>
            <string>{1972,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4769e43a31fccadca53b15995e549db6:1/1$</string>
            <key>textureFileName</key>
            <string>main_scene.png</string>
        </dict>
    </dict>
</plist>
