<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>store</key>
		<string>商店</string>
		<key>no_msg</key>
		<string>木有提示了！</string>
		<key>coin_title</key>
		<string>金币不足</string>
		<key>tip_coin_msg</key>
		<string>金币不够用哦,亲!快去补充一些吧!</string>
		<key>skip_coin_msg</key>
		<string>您的金币已不足，快去补充一些吧!</string>
		<key>skip_default</key>
		<string>过不了关了吧？你被鄙视了！</string>
		<key>skip</key>
		<string>鄙视花金币过关的人！</string>
	</dict>
	<key>Level_MobileSigns</key>
	<dict>
		<key>scene</key>
		<string>以静制动</string>
		<key>scene1</key>
		<string>拖动站牌→到汽车即可!</string>
		<key>prompt</key>
		<string>石头和汽车，这两个没用的东西</string>
	</dict>
	<key>Level_FingerPower</key>
	<dict>
		<key>scene</key>
		<string>人心齐泰山移</string>
		<key>prompt</key>
		<string>手指多力量大哦</string>
	</dict>
	<key>Level_WeakenedWeight</key>
	<dict>
		<key>scene</key>
		<string>重于泰山轻于鸿毛</string>
		<key>prompt</key>
		<string>石头上为什么要写数字？</string>
	</dict>
	<key>Level_BreakStone</key>
	<dict>
		<key>scene</key>
		<string>司马光砸缸</string>
		<key>prompt</key>
		<string>让石头消失</string>
	</dict>
	<key>Level_ReverseCover</key>
	<dict>
		<key>scene</key>
		<string>扭转乾坤</string>
		<key>prompt</key>
		<string>让石头滚吧</string>
	</dict>
	<key>Level_FlyingCar</key>
	<dict>
		<key>scene</key>
		<string>一飞冲天</string>
		<key>prompt</key>
		<string>可以从石头上过哦</string>
	</dict>
	<key>Level_DifferentLayer</key>
	<dict>
		<key>scene</key>
		<string>点汽车→车开到1站牌→过关</string>
		<key>prompt</key>
		<string>车子直接走</string>
	</dict>
	<key>Level_RockStone</key>
	<dict>
		<key>scene</key>
		<string>地动山摇</string>
		<key>prompt</key>
		<string>让石头从右边滚蛋</string>
	</dict>
	<key>Level_TiltPhone</key>
	<dict>
		<key>scene</key>
		<string>万有引力</string>
		<key>prompt</key>
		<string>让石头自由落体</string>
	</dict>
	<key>Level_DragCar</key>
	<dict>
		<key>scene</key>
		<string>上帝之手</string>
		<key>prompt</key>
		<string>车子是可以拖的</string>
	</dict>
	<key>Level_BlowUpStone</key>
	<dict>
		<key>scene</key>
		<string>哪里不爽点哪里</string>
		<key>prompt</key>
		<string>哪里不爽炸哪里</string>
	</dict>
	<key>Level_HoldBack</key>
	<dict>
		<key>scene</key>
		<string>苦海无边</string>
		<key>prompt</key>
		<string>这边不行，走那边嘛</string>
	</dict>
	<key>Level_CoverStone</key>
	<dict>
		<key>scene</key>
		<string>眼不见为净</string>
		<key>prompt</key>
		<string>有些东西是可以屏蔽的</string>
	</dict>
	<key>Level_ExplosiveCharge</key>
	<dict>
		<key>scene</key>
		<string>四大发明</string>
		<key>prompt</key>
		<string>石头下面有鞭炮哦</string>
	</dict>
	<key>Level_SlopeHill</key>
	<dict>
		<key>scene</key>
		<string>幡然改途</string>
		<key>prompt</key>
		<string>路是人整出来的</string>
	</dict>
	<key>Level_SeparateGround</key>
	<dict>
		<key>scene</key>
		<string>开天辟地</string>
		<key>prompt</key>
		<string>大地吞没石头</string>
	</dict>
	<key>Level_LightningStone</key>
	<dict>
		<key>scene</key>
		<string>天打雷劈</string>
		<key>prompt</key>
		<string>自然界有神奇的力量</string>
	</dict>
	<key>Level_LargerCar</key>
	<dict>
		<key>scene</key>
		<string>如虎添翼</string>
		<key>prompt</key>
		<string>让自己变强大</string>
	</dict>
	<key>Level_PushStoneAway</key>
	<dict>
		<key>scene</key>
		<string>狭路相逢勇者胜</string>
		<key>prompt</key>
		<string>直面障碍，接受挑战</string>
	</dict>
	<key>Level_Tunnel</key>
	<dict>
		<key>scene</key>
		<string>另辟蹊径</string>
		<key>prompt</key>
		<string>看来地上不适合你</string>
	</dict>
	<key>Level_DropHollows</key>
	<dict>
		<key>scene</key>
		<string>PH  &lt;  5.6</string>
		<key>prompt</key>
		<string>小小水滴，穿透轰炸机</string>
	</dict>
	<key>Level_BreakGround</key>
	<dict>
		<key>scene</key>
		<string>豆腐渣</string>
		<key>prompt</key>
		<string>黑洞是砸出来的了</string>
	</dict>
	<key>Level_RescueMonkey</key>
	<dict>
		<key>scene</key>
		<string>师父在哪儿</string>
		<key>prompt</key>
		<string>师傅被树妖抓走了</string>
	</dict>
	<key>Level_HitTenTimes</key>
	<dict>
		<key>scene</key>
		<string>有胆你就来</string>
		<key>prompt</key>
		<string>跟石头拼了</string>
	</dict>
	<key>Level_HitStonesOut</key>
	<dict>
		<key>scene</key>
		<string>伤其十指，不如断其一指</string>
		<key>prompt</key>
		<string>削弱石头</string>
	</dict>
	<key>Level_FeekGiddy</key>
	<dict>
		<key>scene</key>
		<string>腾云驾雾</string>
		<key>prompt</key>
		<string>呼唤筋斗云</string>
	</dict>
	<key>Level_PauseStone</key>
	<dict>
		<key>scene</key>
		<string>扼住时间的咽喉</string>
		<key>prompt</key>
		<string>找到时光按钮</string>
	</dict>
	<key>Level_StoneFly</key>
	<dict>
		<key>scene</key>
		<string>让石头飞一会</string>
		<key>prompt</key>
		<string>抓住时间差</string>
	</dict>
	<key>Level_FoolishOldMan</key>
	<dict>
		<key>scene</key>
		<string>愚公移山</string>
		<key>prompt</key>
		<string>会开车的愚公</string>
	</dict>
	<key>Level_TreeAndStone</key>
	<dict>
		<key>scene</key>
		<string>大自然的搬运工</string>
		<key>prompt</key>
		<string>允许破坏绿化</string>
	</dict>
	<key>Guide</key>
	<dict>
		<key>guideWord1</key>
		<string>点击汽车 → 车开到终点 → 过关</string>
	</dict>
</dict>
</plist>
